/* General styles */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato , sans-serif';
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    background-image: url(images/bgImage.jpg) ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.container{
    width:550px;
    height: 450px;
}

.header{
    font-size: 1.2rem;
    border: solid 2px white;
    color: white;
    background-color: #262626;
    padding:0.1em ;
    width:80%;
    margin:20px auto;
    border-radius: 5%;
}

.main-content{
    width:100%;
    height:18em;
    background-color: white;
    border-radius: 15px;
    padding:3em 2.5em ;
    box-shadow: 0 0 10px;
}

.main-content .text-area{
    font-size: 1.5em;
    line-height: 1.3;
}
.main-content .person{
    font-size: 1.6em;
    color: red;
    text-transform: uppercase;
    font-weight:bolder;
    margin-top:0.3em ;
}

.button-area button{
    background-color: #262626;
    color: white;
    font-size: 1.5em;
    padding: 0.5em 1em;
    margin-top: 1em;
    border-radius: 5px;
}

.button-area button:active{
    background-color: lightblue;
}